# Entorno Virtual
venv/

# Base de datos de desarrollo
*.sqlite3
db.sqlite3

# Archivos compilados de Python
__pycache__/
*.pyc

# Archivos de configuración sensibles
.env

# Directorios de archivos estáticos y de medios generados por Django
# Estos se generan en el servidor (como en Render) con collectstatic
/staticfiles/
/media/

# Archivos del sistema operativo
.DS_Store
Thumbs.db