# Entornos virtuales
venv/
env/
.venv/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Bases de datos locales
*.sqlite3
*.db

# Archivos subidos por los usuarios (media)
/media/

# Archivos estáticos recolectados por Django
/staticfiles/

# Archivos de configuración local o secretos (si los usas en el futuro)
.env
local_settings.py

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de IDEs
.vscode/
.idea/

# Logs
*.log

# Reportes de cobertura de tests
.coverage
htmlcov/

# Archivos de dependencias de Windows
pip-delete-this-directory.txt

# Archivos de descargas (para evitar subir el CSV del organigrama)
*.csv

# Archivos de documentación y notas (excepto README y el Manual)
*.md
!README.md
*.html
!MANUAL_USUARIO.html